{% extends 'baseOfCourses.html' %}

{% comment %} {% block semNo %}1{% endblock semNo %} {% endcomment %}

    {% block course-1 %} <li class="course-item"><a href="/itc/{{user.id}}" class="course">Intro. to Computing</a></li> {% endblock course-1 %}

    {% block course-2 %} <li class="course-item"> <a href="/emt/{{user.id}}" class="course">Electricity and Magnetism</a> </li> {% endblock course-2 %}

    {% block course-3 %} <li class="course-item"> <a href="/ww/{{user.id}}" class="course">Writing Workshop</a> </li> {% endblock course-3 %}
    
    {% block course-4 %} <li class="course-item"> <a href="/calculus/{{user.id}}" class="course">Calculus - I</a> </li> {% endblock course-4 %}
    
    {% block course-5 %} <li class="course-item"> <a href="/statistics/{{user.id}}" class="course">Probability & Statistics</a> </li> {%endblock course-5 %}

    {% block course-6 %} <li class="course-item"><a href="/itc/{{user.id}}" class="course">Intro. to Computing</a></li> {% endblock course-6 %}

